body {
    margin: 0;
    background-color: lightpink;
    font-family: sans-serif;
    height: 100vh;
}
.game-container {
    display: flex;
    flex-direction: row;
}
#container{
    position: relative;
    height: 100vh;
    width: 30%;
    left: 35%;
    background-color: #292929;
    overflow: hidden;
    margin-left: -25%;
}
.line{
    position: absolute;
    height: 150px;
    width: 4%;
    margin-left: 48%;
    background-color: rgba(255,255,255,0.5);
}
#line1{
    top: -150px;
}
#line2{
    top: 150px;
}
#line3{
    top: 450px;
}
.car{
    position: absolute;
    height: 60px;
    width: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 8px 0 black;
}
#car{
    bottom: 8%;
    left: 60%;
    background-color: deeppink;
}
.front-glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 15%;
    border-radius: 0 0 5px 5px;
    background-color: #484848;
}
.back-glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    border-radius: 5px 5px 0 0;
    background-color: #484848;
}
.front-light-l{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: -6%;
    border-radius: 5px 5px 0 0;
    background-color: #efefef;
}
.front-light-r{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: -6%;
    border-radius: 5px 5px 0 0;
    background-color: #efefef;
}
.front-tyre-l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: -10%;
    border-radius: 5px 0 0 5px;
}
.front-tyre-r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: 100%;
    border-radius: 0 5px 5px 0;
}
.back-tyre-l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: -10%;
    border-radius: 5px 0 0 5px;
}
.back-tyre-r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: 100%;
    border-radius: 0 5px 5px 0;
}
#car1{
    top: -100px;
    left: 60%;
    background-color: coral;
}
#car2{
    top: -200px;
    left: 40%;
    background-color: coral;
}
#car3{
    top: -350px;
    left: 50%;
    background-color: coral;
}
#restart-div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #292929;
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}
#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: lightcoral;
    font-size: 30px;
    margin-top: 30%;
}
.small-text{
    font-size: 15px;
}
#score-div, #high-score-div{
    font-size: 30px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0 1px #808080;
}
#help{
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50%;
    margin-top: 45%;
}
.score-container{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 20%;
    width: 15%;
}